@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{

}

<div>
    <h2>Big Cart Component</h2>
    @foreach (var product in Model)
    {
        <p>Name - @product.Name</p>
        <p>Value - @product.Value</p>
        <p>Qty - @product.Qty</p>
        <p>StockId - @product.StockId</p>
        <hr />
    }
</div>