@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{

}

<div>
    <h2>Small Cart Component</h2>
    @foreach (var product in Model)
    {
        <div>
            <span>Name - @product.Name</span>
            <span>Value - @product.Value</span>
            <span>Qty - @product.Qty</span>
        </div>
    }
</div>