@page
@model RecordStore.UI.Pages.CartModel
@{
}
<div>
    @foreach(var product in Model.Cart)
    {
        <p>Name - @product.Name</p>
        <p>Value - @product.Value</p>
        <p>Qty - @product.Qty</p>
        <p>StockId - @product.StockId</p>
        <hr/>
    }
</div>

<vc:cart view="Small"></vc:cart>

@* @await Component.InvokeAsync("Cart", new { view = "Small" })*@