@page
@model IndexModel
@{
    ViewData["Title"] = "Record Store";
}

<div>
    <table class="table">
    <thead>
        <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>VALUE</th>
        </tr>
    </thead>
    @{
        foreach(var product in Model.Products)
        {
                <tbody>
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Value</td>
                    </tr>
                </tbody>
        }
    }
    </table>
</div>