@page
@model IndexModel
@{
    ViewData["Title"] = "Record Store";
}

<div>
    <table class="table">
    <thead>
        <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>VALUE</th>
        </tr>
    </thead>
    @{
        foreach(var product in Model.Products)
        {
            <tbody class="table-secondary">
                <tr>
                    <td><a asp-page="Product" asp-route-name="@product.Name.Replace(" ", "-")" class="link-info">@product.Name</a></td>
                    <td>@product.Description</td>
                    <td>@product.Value</td>
                </tr>
            </tbody>
        }
    }
    </table>
</div>