@page
@model RecordStore.UI.Pages.Checkout.CustomerInformationModel
@{
}

<div>
    <form method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" asp-for="CustomerInformation.FirstName" />
            <span asp-asp-validation-for="CustomerInformation.FirstName"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" asp-for="CustomerInformation.LastName" />
            <span asp-asp-validation-for="CustomerInformation.LastName"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" asp-for="CustomerInformation.Email" />
            <span asp-asp-validation-for="CustomerInformation.Email"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" asp-for="CustomerInformation.PhoneNumber" />
            <span asp-asp-validation-for="CustomerInformation.PhoneNumber"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" asp-for="CustomerInformation.Addres1" />
            <span asp-asp-validation-for="CustomerInformation.Addres1"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" asp-for="CustomerInformation.Addres2" />
            <span asp-asp-validation-for="CustomerInformation.Addres2"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">City</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" asp-for="CustomerInformation.City" />
            <span asp-asp-validation-for="CustomerInformation.City"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Post Code</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" asp-for="CustomerInformation.PostCode" />
            <span asp-asp-validation-for="CustomerInformation.PostCode"></span>
        </div>

        <button type="submit">BUY PRODUCTS</button>
    </form>
</div>

@await Component.InvokeAsync("Cart")
